<div class="d-flex">
    <div id="sidebar-container" class="bg-light">
        <div class="header-sidebar">
            <h4>Encuesta Docente</h4>
        </div>
        <div class="menu">
            <a href=""><i></i> <span>Resumen Semestre Actual</span></a>
            <a href=""><i></i> <span>Asignaturas</span></a>
            <a href=""><i></i><span>Evaluaciones Anteriores</span></a>
            <a href=""><i></i><span>Insignias</span></a>
            <a href=""><i></i><span>Recomendaciones</span></a>
        </div>
    </div>
    <div class="w-100">
        <app-header></app-header>
    </div>
    

</div>