body{
    overflow: hidden;
    font-weight: 300;
    background-color: #FFFFFF;
}

#sidebar-container{
    position: static;
    min-height: 100vh;
}


.icon-header{
    text-align: right;
    right: 5vh;
    bottom: 10vh;
    position: relative;
}


#sidebar-container .menu{
    width: 15rem;
}


a:hover{
    text-decoration: none;
    background-color: #EEEFF0 ;
}

a{
    color: #172B4D;
    font-style: bold;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 16px;
}

.menu a i{
    padding: 10px;
    font-size: 20px;
}

#sidebar-container .header-sidebar{ 
    padding: .875rem 1.25rem;
    padding-top: 4vh;
    padding-right: 10vh;
    text-align: left;
    height: calc(14vh - 0px);
    color: #172B4D;
}

.fondo{
    background-color: #F1F3F9;
}

.d-block{
    padding-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}



