<div class="fondo h-100 w-100">
    <section> 
        <div class="header" id="header-login">
            <a>
                <img id="logoinf" [src]="infPath" alt="logo_escuela">
            </a>
            <a>
                <img id="logopucv" [src]="pucvPath" alt="">
            </a>      
        </div>
    </section>
    <div id="back-login">
        <img [src]="fondoPath" alt="">
        
    </div>
        <div  id="titulo-login">     
        </div>
        <div class="login-card">
            <form  [formGroup]="formSetPass" id="form-login">
                <div class="form-group" id="password">
                  <h4>Actualizar Contraseña</h4>
                  <label for="exampleInputEmail1">Nueva Contraseña</label>
                  <input type="password" class="form-control" formControlName="password">
                  <div id="alert" *ngIf="formSetPass.controls['password'].invalid && formSetPass.controls['password'].dirty">
                    <small class="text-danger">Ingrese clave válida (Min 8 caracteres)</small>
                  </div>
                </div>

                <br>
                <button type="submit" [disabled]="!formSetPass.valid" (click)="sendNewPass()" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
</div>