<div class="row card-graphResumen">
    <div class="column">
        <div class="card bg-light mb-3" style="width: 40rem;">
            <h4 class="card-header">RESUMEN ENCUESTAS DEL SEMESTRE</h4>
            <div class="card-body">
                <div >
                    <ngx-spinner
                      bdOpacity = 0.9
                      bdColor = "#f4f4f9"
                      size = "medium"
                      color = "#172B4D"
                      [fullScreen] = "false"
                    ></ngx-spinner>  
                </div>
                <canvas id="resumeChart" width="600" height="400"></canvas>
            </div>
        </div>            
    </div>
</div>