.card-columns{
    column-count: 2 !important;
}

/*#data-insignias{
    display:table-cell
}*/

#title-badges{
    font-size: large;
    font-weight: bold;
}

.flex-row{
    margin-left: 2vh !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }