
    <div class="column d-flex flex-row">
        <div class="card bg-light mb-3" style="width: 25rem;">
            <h4 class="card-header">Resultados de la Encuesta</h4>
            <div class="card-body" id="data-insignias">
                <div class="container">
                        <ngx-spinner
                          bdOpacity = 0.9
                          bdColor = "#f4f4f9"
                          size = "medium"
                          color = "#172B4D"
                          [fullScreen] = "false"
                        ></ngx-spinner>                 
                    <canvas id="myChart" width="350" height="400"></canvas>
                </div>
                <button type="button" class="btn btn-success" [routerLink]="['detalle-encuesta',idC]">Ver Detalle</button>
            </div>
        </div>            
    </div>

