table {
    margin: auto;
    width: 50% !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #F1F3F9;
    position: relative;
    top: 20px;
    table-layout: fixed;
    margin-bottom: 20px;
}

td{
    position: relative;
    Word-wrap:break-Word
}

#preguntas h5{
    position: absolute;
    margin-bottom: 10px;
}

#section-questions{
    padding-bottom: 20px;
}

#question{
    width: 50px;
}

#next-button{
    margin: 25px;
    margin-right: 50vh;
    right: 0px;
    position: absolute;
}

