<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Encuesta Docente</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Alumno
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="logout()" href="#" style="color:#000000;">Logout</a>
    </div>
  </div>

  
</nav>

<div [ngSwitch]="page" class="container">
  <div *ngSwitchCase=0> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <th>Profesor(a)</th>
            <th>Curso</th>       
            <th *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td id="{{profe.idP}}">{{profe.nameP}}</td>
              <td id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td *ngFor="let opt of options; let i=index">
                <input type="radio" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=1> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <th>Profesor(a)</th>
            <th>Curso</th>       
            <th *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td id="{{profe.idP}}">{{profe.nameP}}</td>
              <td id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td *ngFor="let opt of options; let i=index">
                <input type="radio" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=2> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <th>Profesor(a)</th>
            <th>Curso</th>       
            <th *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td id="{{profe.idP}}">{{profe.nameP}}</td>
              <td id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td *ngFor="let opt of options; let i=index">
                <input type="radio" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=3> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <th>Profesor(a)</th>
            <th>Curso</th>       
            <th *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td id="{{profe.idP}}">{{profe.nameP}}</td>
              <td id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td *ngFor="let opt of options; let i=index">
                <input type="radio" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=4> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br><br>
      <table>
        <tbody>
          <tr>
            <th>Profesor(a)</th>
            <th>Curso</th>       
            <th *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td id="{{profe.idP}}">{{profe.nameP}}</td>
              <td id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td *ngFor="let opt of options; let i=index">
                <input type="radio" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
    
  </div>


  <div *ngSwitchCase=5 class="container"> 
    <div class="preguntas">
      <h4>Insignias</h4>
      <br>
      <table>
        <tbody>
          <tr>
            <th>Insignia</th>
            <th *ngFor="let profe of namesProfes" id="{{profe.idP}}{{profe.idC}}">
              <span>{{profe.nameP}}</span><br>
              <span>{{profe.nameC}}</span>
            </th>
          </tr>
 
          <tr *ngFor="let badge of badges">
            <td><div>{{badge.name}}</div></td>
            <td *ngFor="let profe of namesProfes">
              <div id="{{profe.idP}}">
                <input type="checkbox" id="{{profe.idC}}" name="{{profe.idC}}{{profe.idP}}" [value]="badge._id" (click)="addBadge($event)">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p>FINALIZAR ENCUESTA</p>
      <button type="button" class="btn btn-danger" id="next-button" (click)="sendEncuesta()">Finalizar y Enviar</button>
    </div>

  </div>

</div> 

