
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Encuesta Docente</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Alumno
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="logout()" href="#" style="color:#000000;">Logout</a>
    </div>
  </div>
</nav>

<div [ngSwitch]="page" class="container">
  <div *ngSwitchCase=0> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <p class="text-xl-center">USO AULA VIRTUAL</p>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Curso</th>       
            <th scope="col" *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td scope="row" id="{{profe.idP}}">{{profe.nameP}}</td>
              <td scope="row" id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td scope="row" *ngFor="let opt of options; let i=index">
                <input type="radio" id="{{qst._id}}" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=1> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <p class="text-xl-center">CONTENIDO DEL CURSO</p>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Curso</th>       
            <th scope="col" *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td scope="row" id="{{profe.idP}}">{{profe.nameP}}</td>
              <td scope="row" id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td scope="row" *ngFor="let opt of options; let i=index">
                <input type="radio" id="{{qst._id}}" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=2> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <p class="text-xl-center">ACTITUD</p>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Curso</th>       
            <th scope="col" *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td  scope="row" id="{{profe.idP}}">{{profe.nameP}}</td>
              <td  scope="row" id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td scope="row" *ngFor="let opt of options; let i=index">
                <input type="radio" id="{{qst._id}}" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=3> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <p class="text-xl-center">RESPONSABILIDAD</p>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Curso</th>       
            <th scope="col" *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td scope="row" id="{{profe.idP}}">{{profe.nameP}}</td>
              <td scope="row" id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td scope="row" *ngFor="let opt of options; let i=index">
                <input type="radio" id="{{qst._id}}" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
  </div>
  <div *ngSwitchCase=4> 
    <div *ngFor="let qst of encuesta.questions;let i=index" class="preguntas">
      <br>
      <p class="text-xl-center">METODOLOGIA DE ENSEÑANZA</p>
      <div id="{{qst._id}}" class="pregunta"> 
        <h5>{{qst.question}}</h5>
      </div>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Profesor(a)</th>
            <th scope="col">Curso</th>       
            <th scope="col" *ngFor="let opt of options; let i=index">
              {{opt.name}}
            </th>
          </tr>
            <tr *ngFor="let profe of namesProfes">
              <td scope="row" id="{{profe.idP}}">{{profe.nameP}}</td>
              <td scope="row" id="{{profe.idC}}">{{profe.nameC}}</td>         
              <td scope="row" *ngFor="let opt of options; let i=index">
                <input type="radio" id="{{qst._id}}" name="{{qst._id}}{{profe.idC}}{{profe.idP}}" [value]="opt.value" (click)="actualizarRespuesta($event)">
              </td>
            </tr>     
        </tbody>
      </table>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuesta()">Siguiente</button>
    </div>
    
  </div>

  <div *ngSwitchCase=5>
   
    <div class="preguntas">
      <br>
      <p class="text-xl-center">COMENTARIOS</p>
      <br>
        <div class="input-group" *ngFor="let profe of namesProfes" id="box-comentario">
          <div class="input-group-prepend" id="{{profe.idC}}">
            <span id="{{profe.idP}}" class="input-group-text">{{profe.nameP}}<br>{{profe.nameC}}</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" id="{{profe.idP}}{{profe.idC}}"></textarea>
        </div>
    </div>
    <div>
      <p>NOTA: AL HACER CLICK EN SIGUIENTE NO PODRA VOLVER A EDITAR LAS RESPUESTAS DE ESTA PAGINA</p>
      <button type="button" class="btn btn-success" id="next-button" (click)="changeEncuestaComm()">Siguiente</button>
    </div>
    
  </div>


  <div *ngSwitchCase=6 class="container">
    
    <div class="preguntas">
      <br>
      <p class="text-xl-center">INSIGNIAS</p>
      <br>
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Insignia</th>
            <th scope="col" *ngFor="let profe of namesProfes" id="{{profe.idP}}{{profe.idC}}">
              <span>{{profe.nameP}}</span><br>
              <span>{{profe.nameC}}</span>
            </th>
          </tr>
 
          <tr *ngFor="let badge of badges;let i=index">
            <td scope="row"><i class={{classIcons[i]}}> {{ badge.name}}</i></td>
            <td scope="row" *ngFor="let profe of namesProfes">
              <div id="{{profe.idP}}">
                <input type="checkbox" id="{{profe.idC}}" name="{{profe.idC}}{{profe.idP}}" [value]="badge._id" (click)="addBadge($event)">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p>FINALIZAR ENCUESTA</p>
      <button type="button" class="btn btn-danger" id="next-button" (click)="sendEncuesta()">Finalizar y Enviar</button>
    </div>

  </div>

</div> 

