<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Encuesta Docente</a>
</nav>

<div id="cardq" *ngFor="let qst of qSect1">
  <div id="preguntas">
    <div [id]="qst.id">
      <h5>{{qst.data}}</h5>
    </div>
    <div id="opciones">
      <div *ngFor="let opt of options; let i=index" id="opts">
        <h6>{{opt.name}}</h6>
        
      </div>
      
    </div>
    <form [formGroup]="poll">
    <div id="listprofes" *ngFor="let profe of profesores" id="nameprofe">
      <div>
        <h5>{{profe}}</h5>
      </div>
      <div id="setoptbox">
        <div *ngFor="let opt of options" id="optbox">
          <input type="checkbox">
            <label for=""></label>
        </div>
      </div>
    </div>
  </form>
    
    
    
    
  </div>
</div>



