#cardq {
    margin: auto;
    width: 70% !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #F1F3F9;
    top: 20px;
    margin-bottom: 20px;
}

#listprofes{
    position: relative;
    top: 30px;
    width: fit-content;
}
#optbox{
    float:right;
    
    margin-right: 70px;
}

#nameprofe{
   top:10px;
}

#setoptbox{
    position: relative;
}

#preguntas{
    height: 200px;
    
}

#opts{
    float:left;
    width: max-content;
    margin-right: 20px;
    margin-bottom: 10px;

}

#opciones{
    float: right;
}
