<div class="fondo h-100 w-100">
    <section>
        <div class="header" id="header-login">
            <a>
                <img id="logoinf" [src]="infPath" alt="logo_escuela">
            </a>
            <a>
                <img id="logopucv" [src]="pucvPath" alt="">
            </a>      
        </div>
    </section>
    <div id="back-login">
        <img [src]="fondoPath" alt="">
        
    </div>
    <section>
        <div id="titulo-login">
            <h3>Sistema Docente</h3>
        </div>
        <div class="login-card">
            <form class="form-login">
                <div class="form-group" id="rut">
                  <label for="exampleInputEmail1">Rut</label>
                  <input class="form-control" placeholder="Ingrese su rut">
                  <small class="form-text text-muted">Ingrese un rut válido</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Constraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Constraseña">
                </div>
                
                <br>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
              </form>
            
        </div>

    </section>
    
</div>