<div class="container card-vergas-vs" id="card-courses">
  <div class="card-columns">
    <div *ngFor="let course of courses" class="card" style="width: 18rem;">
      <br>
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{course.acronym}}</h6>
        <br>
        <button type="button" class="btn btn-danger" [disabled]="true" >Historial de Evaluaciones</button><br>
        <button type="button" class="btn btn-danger" [disabled]="true">Evaluacion Intermedia</button><br>
        <button type="button" class="btn btn-dark" [routerLink]="['detalle',course._id,course.name,course.acronym]">Evaluacion Final</button>
      </div>
    </div>
  </div>
</div>
