<div class="fondo h-100 w-100">
    <section>
        <div class="header" id="header-login">
            <a>
                <img id="logoinf" [src]="infPath" alt="logo_escuela">
            </a>
            <a>
                <img id="logopucv" [src]="pucvPath" alt="">
            </a>      
        </div>
    </section>
    <div id="back-login">
        <img [src]="fondoPath" alt="">
        
    </div>
  
        <div id="titulo-login">
           
        </div>
        <div class="login-card">
            <h3>Iniciar Sesion</h3>
            <form [formGroup]="formLoginPage" id="form-login">
                <div class="form-group" id="email">
                  <label for="exampleInputEmail1">Email</label>
                  <input class="form-control" formControlName="email">
                  <div id="alert">
                    <small class="form-text text-muted">Ingrese rut valido</small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Constraseña</label>
                  <input type="password" class="form-control" placeholder="Constraseña" formControlName="password">
                  <div id="alert">
                    <small class="form-text text-muted">Ingrese clave válida</small>
                  </div>
                  
                </div>
                <div>
                    <a [routerLink]="'/auth/recuperar'">Recuperar Contraseña</a>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
            </form>
        </div>
</div>